#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export initdir=$$(prefix)/etc/init.d

%:
	dh $@ --with systemd

override_dh_auto_install:
	dh_auto_install
	$(RM) debian/netplug/etc/init.d/netplugd
